/**
* mod_eisfish_menu vers. 1.0
* CSS for NavBar navbar
*
*How to create a new file superfish-navbar.css
*delete all css classes  of this file
*copy and paste here all css classes of superfish.css
*copy and past here after the last line all classes superfish-navbar-ext.css
*rename all .sf-menu in .sf-navbar
*save the file
*
*
/*** ESSENTIAL STYLES ***/

.sf-navbar, .sf-navbar * {
	margin:			0;
	padding:		0;
	list-style:		none;
	line-height:  34px;
	z-index: 1000;

}
.sf-navbar {
	line-height:	1.0;
}
.sf-navbar ul {
	position:		absolute;
	top:			-999em;
	width:			170px; /* left offset of subnavbars need to match (see below) */
	z-index: 1000;
	font-size: 13px;
}
.sf-navbar ul li {
	width:	100%;
	z-index: 1000;
}
.sf-navbar li:hover, .sf-navbar li.sfHover{
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active  {
	color:#ff0000;
	text-decoration: none;
}

.sf-navbar li {
	float:			left;
	position:		relative;
	line-height:    35px;
}
.sf-navbar a {
	display:		block;
	position:		relative;
	padding: 0px 10px;
	text-align:left;
	font-size: 15px;
	border-left:	1px solid #999999;
	border-top:		1px solid #666666;
	height:    35px;


}

.sf-navbar a, .sf-navbar a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#ffffff;
}

.sf-navbar li {
	background:		#333333;
}
.sf-navbar li li {
	background:		#191919;
}
.sf-navbar li li li {
	background:		#333333;
}

.sf-navbar li:hover, .sf-navbar li.sfHover,
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
	background:		#575757;
	outline:		0;
}

.sf-navbar ul a {
	font-size: 13px;
}

.sf-navbar li:hover ul,
.sf-navbar li.sfHover ul {
	left:			0;
	top:			35px;
	z-index:		99;
}
ul.sf-navbar li:hover li ul,
ul.sf-navbar li.sfHover li ul {
	top:			-999em;

}

ul.sf-navbar li li:hover ul,
ul.sf-navbar li li.sfHover ul {
	left:			170px; /* match ul width */
	top:			0;
}

ul.sf-navbar li li:hover li ul,
ul.sf-navbar li li.sfHover li ul {
	top:			35px;
}

ul.sf-navbar li li li:hover ul,
ul.sf-navbar li li li.sfHover ul {
	left:			170px; /* match ul width */
	top:			0;
}


/*** arrows **/
.sf-navbar a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */

}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-navbar ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}


/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


/* END ESSENTIAL FILE*/
/*********************************************/



/*** adding the class sf-navbar in addition to sf-navbar creates an all-horizontal nav-bar navbar ***/

.sf-navbar {
	background:		#333333;
	height:			35px;
	padding-bottom:	35px;
	position:		relative;
}

.sf-navbar li {
	background:		#A8A8A8;
	position:		static;
}
.sf-navbar a {
	background:		#333333;
	border-top:		none;
}
.sf-navbar li ul {
	width:			44em; /*IE6 soils itself without this*/
}
.sf-navbar li li {
	background:		#575757;
	position:		relative;
}
.sf-navbar li li ul {
	width:			13em;
}
.sf-navbar li li li {
	width:			100%;
}
.sf-navbar ul li {
	width:			auto;
	float:			left;
}
.sf-navbar a, .sf-navbar a:visited {
	border:			none;
}
.sf-navbar li.current {
	background:		#575757;
}
.sf-navbar li:hover,
.sf-navbar li.sfHover,
.sf-navbar li li.current,
.sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
	background:		#575757;
}
.sf-navbar ul li:hover,
.sf-navbar ul li.sfHover,
ul.sf-navbar ul li:hover li,
ul.sf-navbar ul li.sfHover li,
.sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
	background:		#7D7D7D;
}
ul.sf-navbar li li li:hover,
ul.sf-navbar li li li.sfHover,
.sf-navbar li li.current li.current,
.sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
	background:		#A8A8A8;
}
ul.sf-navbar .current ul,
ul.sf-navbar ul li:hover ul,
ul.sf-navbar ul li.sfHover ul {
	left:			0;
	top:			35px; /* match top ul list item height */
}
ul.sf-navbar .current ul ul {
	top: 			-999em;
}

.sf-navbar li li.current > a {
	font-weight:	bold;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator { background-position: -10px -100px; }
.sf-navbar ul a > .sf-sub-indicator { background-position: 0 -100px; }
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator,
.sf-navbar ul a:hover > .sf-sub-indicator,
.sf-navbar ul a:active > .sf-sub-indicator,
.sf-navbar ul li:hover > a > .sf-sub-indicator,
.sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

.sf-navbar li li li .sf-sub-indicator,
.sf-navbar li li li:hover > a > .sf-sub-indicator,
.sf-navbar li li li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0px; /* arrow hovers for modern browsers*/
}

/*** remove shadow on first subnavbar ***/
.sf-navbar > li > ul {
	background: transparent;
	padding: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}

/* define here the height of ID div or class of div in your template where your put the nav bar */
/*#yourtopdiv or div.your div {height:70px;} */ 