/**
* mod_eisfish_menu navbar vers. 1.0
* CSS for Horizontal example3-navbar - RTL version
*
/*** ESSENTIAL STYLES ***/

.sf-example3-navbar, .sf-example3-navbar * {
	margin:			0;
	padding:		0;
	list-style:		none;
	line-height:34px;
	z-index: 1000;
}
.sf-example3-navbar {
	line-height:	1.0;
}
.sf-example3-navbar ul {
	position:		absolute;
	top:			-999em;
	width:			170px; /* left offset of subexample3-navbars need to match (see below) */
	z-index: 1000;
	font-size: 13px;
}
.sf-example3-navbar ul li {
	width:			100%;
	z-index: 1000;
}
.sf-example3-navbar li:hover, .sf-example3-navbar li.sfHover{
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-example3-navbar a:focus, .sf-example3-navbar a:hover, .sf-example3-navbar a:active  {
	color:#ff0000;
	text-decoration: none;
}

.sf-example3-navbar li {
	float:			right;
	position:		relative;
	line-height:35px;
}
.sf-example3-navbar a {
	display:		block;
	position:		relative;
	padding: 0px 10px;
	text-align:right;
	font-size: 15px;
	border-right:	1px solid #999999;
	border-top:		1px solid #666666;
	height:    35px;

}

.sf-example3-navbar a, .sf-example3-navbar a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#ffffff;
}

.sf-example3-navbar li {
	background:		#333333;
}
.sf-example3-navbar li li {
	background:		#191919;
}
.sf-example3-navbar li li li {
	background:		#333333;
}

.sf-example3-navbar li:hover, .sf-example3-navbar li.sfHover,
.sf-example3-navbar a:focus, .sf-example3-navbar a:hover, .sf-example3-navbar a:active {
	background:		#575757;
	outline:		0;
}

.sf-example3-navbar ul a {
	font-size: 13px;
}

.sf-example3-navbar li:hover ul,
.sf-example3-navbar li.sfHover ul {
	right:			0;
	top:			35px;
	z-index:		99;
}
ul.sf-example3-navbar li:hover li ul,
ul.sf-example3-navbar li.sfHover li ul {
	top:			-999em;

}

ul.sf-example3-navbar li li:hover ul,
ul.sf-example3-navbar li li.sfHover ul {
	right:			170px; /* match ul width */
	top:			0;
}

ul.sf-example3-navbar li li:hover li ul,
ul.sf-example3-navbar li li.sfHover li ul {
	top:			35px;
}

ul.sf-example3-navbar li li li:hover ul,
ul.sf-example3-navbar li li li.sfHover ul {
	right:			170px; /* match ul width */
	top:			0;
}


/*** arrows **/
.sf-example3-navbar a.sf-with-ul {
	padding-left: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	left:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff-rtl.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */

}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-example3-navbar ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-example3-navbar ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-example3-navbar ul a:focus > .sf-sub-indicator,
.sf-example3-navbar ul a:hover > .sf-sub-indicator,
.sf-example3-navbar ul a:active > .sf-sub-indicator,
.sf-example3-navbar ul li:hover > a > .sf-sub-indicator,
.sf-example3-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom left;
	padding: 0 0 9px 8px;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}


/*** adding the class sf-example3-navbar in addition to sf-example3-navbar creates an all-horizontal nav-bar example3-navbar ***/

.sf-example3-navbar {
	background:		#333333;
	height:			35px;
	padding-bottom:	35px;
	position:		relative;
}


.sf-example3-navbar li {
	position:		static;
}
.sf-example3-navbar a {
	border-top:		none;
}
.sf-example3-navbar li ul {
	width:			44em; /*IE6 soils itself without this*/
}
.sf-example3-navbar li li {
	background:		#575757;
	position:		relative;
}
.sf-example3-navbar li li ul {
	width:			13em;
}
.sf-example3-navbar li li li {
	width:			170px;
}
.sf-example3-navbar ul li {
	width:			auto;
	float:			right;
}
.sf-example3-navbar a, .sf-example3-navbar a:visited {
	border:			none;
}
.sf-example3-navbar li.current {
	background:		#575757;
}
.sf-example3-navbar li:hover,
.sf-example3-navbar li.sfHover,
.sf-example3-navbar li li.current,
.sf-example3-navbar a:focus, .sf-example3-navbar a:hover, .sf-example3-navbar a:active {
	background:		#575757;
}
.sf-example3-navbar ul li:hover,
.sf-example3-navbar ul li.sfHover,
ul.sf-example3-navbar ul li:hover li,
ul.sf-example3-navbar ul li.sfHover li,
.sf-example3-navbar ul a:focus, .sf-example3-navbar ul a:hover, .sf-example3-navbar ul a:active {
	background:		#7D7D7D;
}
ul.sf-example3-navbar li li li:hover,
ul.sf-example3-navbar li li li.sfHover,
.sf-example3-navbar li li.current li.current,
.sf-example3-navbar ul li li a:focus, .sf-example3-navbar ul li li a:hover, .sf-example3-navbar ul li li a:active {
	background:		#A8A8A8;
}
ul.sf-example3-navbar .current ul,
ul.sf-example3-navbar ul li:hover ul,
ul.sf-example3-navbar ul li.sfHover ul {
	right:			0;
	top:			35px; /* match top ul list item height */
}
ul.sf-example3-navbar .current ul ul {
	top: 			-999em;
}

.sf-example3-navbar li li.current > a {
	font-weight:	bold;
}

/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-example3-navbar ul .sf-sub-indicator { background-position: -10px -100px; }
.sf-example3-navbar ul a > .sf-sub-indicator { background-position: 0 -100px; }
/* apply hovers to modern browsers */
.sf-example3-navbar ul a:focus > .sf-sub-indicator,
.sf-example3-navbar ul a:hover > .sf-sub-indicator,
.sf-example3-navbar ul a:active > .sf-sub-indicator,
.sf-example3-navbar ul li:hover > a > .sf-sub-indicator,
.sf-example3-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/*** remove shadow on first subexample3-navbar ***/
.sf-example3-navbar > li > ul {
	background: transparent;
	padding: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}

/* define here the height of ID div or class of div in your template where your put the nav bar */
/*#yourtopdiv or div.your div {height:70px;} */ 
#DDtopexample3-navbar { height:70px; }