/**
* mod_eisfish_menu vers. 1.0
* CSS for Horizontal menu - RTL version
*
/*** ESSENTIAL STYLES ***/

.sf-example2, .sf-example2 * {
	margin:			0;
	padding:		0;
	list-style:		none;
	line-height:34px;
	z-index: 1000;
}
.sf-example2 {
	line-height:	1.0;
}
.sf-example2 ul {
	position:		absolute;
	top:			-999em;
	width:			170px; /* left offset of submenus need to match (see below) */
	z-index: 1000;
	font-size: 13px;
}
.sf-example2 ul li {
	width:			100%;
	z-index: 1000;
}
.sf-example2 li:hover, .sf-example2 li.sfHover{
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}

.sf-example2 a:focus, .sf-example2 a:hover, .sf-example2 a:active  {
	color:#ff0000;
	text-decoration: none;
}

.sf-example2 li {
	float:			right;
	position:		relative;
	line-height:35px;
}
.sf-example2 a {
	display:		block;
	position:		relative;
	padding: 0px 10px;
	text-align:right;
	font-size: 15px;
	color:#ffffff;
	border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;
	height:    35px;

}

.sf-example2 a, .sf-example2 a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#13a;
}

.sf-example2 li {
	background:		#BDD2FF;
}
.sf-example2 li li {
	background:		#AABDE6;
}
.sf-example2 li li li {
	background:		#9AAEDB;
}
.sf-example2 li:hover, .sf-example2 li.sfHover,
.sf-example2 a:focus, .sf-example2 a:hover, .sf-example2 a:active {
	background:		#CFDEFF;
	outline:		0;
}

.sf-example2 ul a {
	font-size: 13px;
}

.sf-example2 li:hover ul,
.sf-example2 li.sfHover ul {
	right:			0;
	top:			35px;
	z-index:		99;
}
ul.sf-example2 li:hover li ul,
ul.sf-example2 li.sfHover li ul {
	top:			-999em;

}

ul.sf-example2 li li:hover ul,
ul.sf-example2 li li.sfHover ul {
	right:			170px; /* match ul width */
	top:			0;
}

ul.sf-example2 li li:hover li ul,
ul.sf-example2 li li.sfHover li ul {
	top:			35px;
}

ul.sf-example2 li li li:hover ul,
ul.sf-example2 li li li.sfHover ul {
	right:			170px; /* match ul width */
	top:			0;
}


/*** arrows **/
.sf-example2 a.sf-with-ul {
	padding-left: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	left:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff-rtl.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */

}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-example2 ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-example2 ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-example2 ul a:focus > .sf-sub-indicator,
.sf-example2 ul a:hover > .sf-sub-indicator,
.sf-example2 ul a:active > .sf-sub-indicator,
.sf-example2 ul li:hover > a > .sf-sub-indicator,
.sf-example2 ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 0 9px 8px;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
